//------------------------------------------------------------------------------ 
//   ____  ____ 
//  /   /\/   / 
// /___/  \  /   Vendor: Xilinx 
// \   \   \/    Author: John F. Snow
//  \   \        Filename: $RCSfile: v6sdi_mgt_recclk_demo.ucf,rcs $
//  /   /        Date Last Modified:  $Date: 2010-10-20 08:44:26-06 $
// /___/   /\    Date Created: March 12, 2009
// \   \  /  \ 
//  \___\/\___\ 
// 
//
// Revision History: 
// $Log: v6sdi_mgt_recclk_demo.ucf,rcs $
// Revision 1.1  2010-10-20 08:44:26-06  jsnow
// The SystemACE clock port and period constraint were removed.
// Added constraints to allow the 27 MHz clock from the FMC to be
// routed to a BUFG.
//
// Revision 1.0  2010-03-17 11:34:58-06  jsnow
// Initial release.
//
//------------------------------------------------------------------------------ 
//
// (c) Copyright 2010 Xilinx, Inc. All rights reserved.
// 
// This file contains confidential and proprietary information
// of Xilinx, Inc. and is protected under U.S. and
// international copyright and other intellectual property
// laws.
// 
// DISCLAIMER
// This disclaimer is not a license and does not grant any
// rights to the materials distributed herewith. Except as
// otherwise provided in a valid license issued to you by
// Xilinx, and to the maximum extent permitted by applicable
// law: (1) THESE MATERIALS ARE MADE AVAILABLE "AS IS" AND
// WITH ALL FAULTS, AND XILINX HEREBY DISCLAIMS ALL WARRANTIES
// AND CONDITIONS, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING
// BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, NON-
// INFRINGEMENT, OR FITNESS FOR ANY PARTICULAR PURPOSE; and
// (2) Xilinx shall not be liable (whether in contract or tort,
// including negligence, or under any other theory of,
// liability) for any loss or damage of any kind or nature
// related to, arising under or in connection with these
// materials, including for any direct, or any indirect,
// special, incidental, or consequential loss or damage
// (including loss of data, profits, goodwill, or any type of
// loss or damage suffered as a result of any action brought
// by a third party) even if such damage or loss was
// reasonably foreseeable or Xilinx had been advised of the
// possibility of the same.
// 
// CRITICAL APPLICATIONS
// Xilinx products are not designed or intended to be fail-
// safe, or for use in any application requiring fail-safe
// performance, such as life-support or safety devices or
// systems, Class III medical devices, nuclear facilities,
// applications related to the deployment of airbags, or any
// other applications that could lead to death, personal
// injury, or severe property or environmental damage
// (individually and collectively, "Critical
// Applications"). Customer assumes the sole risk and
// liability of any use of Xilinx products in Critical
// Applications, subject only to applicable laws and
// regulations governing limitations on product liability.
// 
// THIS COPYRIGHT NOTICE AND DISCLAIMER MUST BE RETAINED AS
// PART OF THIS FILE AT ALL TIMES. 
//------------------------------------------------------------------------------ 
/*
Module Description:

This is the constraints file for the v6sdi_mgt_recclk_demo.

*/

NET "FMC_HPC_DP0_C2M_N"             LOC = "AB2";
NET "FMC_HPC_DP0_C2M_P"             LOC = "AB1";
NET "FMC_HPC_DP1_C2M_N"             LOC = "AD2";
NET "FMC_HPC_DP1_C2M_P"             LOC = "AD1";
NET "FMC_HPC_DP1_M2C_N"             LOC = "AE4";
NET "FMC_HPC_DP1_M2C_P"             LOC = "AE3";
NET "FMC_HPC_GBTCLK0_M2C_N"         LOC = "AD5";
NET "FMC_HPC_GBTCLK0_M2C_P"         LOC = "AD6";
NET "FMC_HPC_CLK2_M2C_MGT_C_N"      LOC = "AB5";
NET "FMC_HPC_CLK2_M2C_MGT_C_P"      LOC = "AB6";
NET "FMC_HPC_CLK1_M2C_N"            LOC = "AP21";       # From XBAR #1 Q2 -- MRCC input
NET "FMC_HPC_CLK1_M2C_P"            LOC = "AP20";

NET "FMC_HPC_HB06_CC_N"             LOC = "AE26";       # HPC 27 MHz XO
NET "FMC_HPC_HB06_CC_P"             LOC = "AF26";       # HPC 27 MHz XO
NET "FMC_HPC_LA00_CC_N"             LOC = "AF21";       # Main SPI - MOSI
NET "FMC_HPC_LA00_CC_P"             LOC = "AF20";       # Main SPI - SCK
NET "FMC_HPC_LA07_N"                LOC = "AJ21";       # CML SPI - SS
NET "FMC_HPC_LA07_P"                LOC = "AK21";       # CML SPI - MOSI
NET "FMC_HPC_LA13_P"                LOC = "AP19";       # CML Si5324 A reset
NET "FMC_HPC_LA14_N"                LOC = "AN20";       # Main SPI - SS
NET "FMC_HPC_LA16_N"                LOC = "AN23";       # CML Si5324 B IN2
NET "FMC_HPC_LA16_P"                LOC = "AP22";       # CML Si5324 B IN2
NET "FMC_HPC_LA26_P"                LOC = "AM25";       # CML Si5324 C reset
NET "FMC_HPC_LA27_P"                LOC = "AP30";       # Main SPI - MISO
NET "FMC_HPC_LA29_N"                LOC = "AK28";       # CML SPI - MISO
NET "FMC_HPC_LA29_P"                LOC = "AL28";       # CML SPI - SCK
NET "FMC_HPC_LA33_P"                LOC = "AH23";       # CML Si5324 B reset

NET "GPIO_LED_0"                    LOC = "AC22";

NET "USER_SMA_GPIO_N"               LOC = "W34";
NET "USER_SMA_GPIO_P"               LOC = "V34";
NET "USER_SMA_CLOCK_N"              LOC = "M22";
NET "USER_SMA_CLOCK_P"              LOC = "L23";

NET "LCD_DB4"                       LOC = "AD14";
NET "LCD_DB5"                       LOC = "AK11";
NET "LCD_DB6"                       LOC = "AJ11";
NET "LCD_DB7"                       LOC = "AE12";
NET "LCD_E"                         LOC = "AK12";
NET "LCD_RS"                        LOC = "T28";
NET "LCD_RW"                        LOC = "AC14";

NET "GPIO_SW_N"                     LOC = "A19";
NET "GPIO_SW_S"                     LOC = "A18";
NET "GPIO_SW_C"                     LOC = "G26";
NET "GPIO_SW_E"                     LOC = "G17";
NET "GPIO_SW_W"                     LOC = "H17";
NET "GPIO_SW_?"                     IOSTANDARD = "LVCMOS15";

NET "GPIO_DIP_SW1"                  LOC = "D22";
NET "GPIO_DIP_SW?"                  IOSTANDARD = "LVCMOS15";

#
# These two constraints allow the 27 MHz clock from the FMC to be routed
# indirectly to a BUFG, overriding errors in MAP.
#
NET "FMC_HPC_HB06_CC_P" CLOCK_DEDICATED_ROUTE = FALSE;
NET "FMC_HPC_HB06_CC_N" CLOCK_DEDICATED_ROUTE = FALSE;

#-------------------------------------------------------------------------------
# Timing constraints
#

#
# The MGT reference clock inputs run at about 150 MHz
#
NET "mgtclk_?x" TNM_NET = mgtclk;
TIMESPEC TS_mgtclk = PERIOD mgtclk 150 MHz HIGH 50 % INPUT_JITTER 100 ps;

#
# The GTX TXOUTCLKs of all SDI transmitters run at about 150 MHz max
# 
NET "tx?_outclk" TNM_NET = txoutclk;
NET "tx?_usrclk" TNM_NET = txoutclk;
TIMESPEC TS_txoutclk = PERIOD txoutclk 150 MHz HIGH 50 % INPUT_JITTER 100 ps;

#
# The GTX RXRECCLKs of all SDI receivers run at about 150 MHz max
#
NET "rx?_recclk" TNM_NET = rxrecclk;
NET "rx?_usrclk" TNM_NET = rxrecclk;
TIMESPEC TS_rxrecclk = PERIOD rxrecclk 150 MHz HIGH 50 % INPUT_JITTER 100 ps;

#
# 27 MHz clock from AVB FMC card
#
NET clk_fmc_27M_in TNM_NET = fmc_27M;
TIMESPEC TS_fmc_27M = PERIOD fmc_27M 27 MHz HIGH 50 % INPUT_JITTER 100 ps;

#
# 270 MHz recovered clock from GTX TX
#
NET recclk_270 TNM_NET = recclk_270;
TIMESPEC TS_recclk_270 = PERIOD recclk_270 270 MHz HIGH 50% INPUT_JITTER 800 ps;
