NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 7 ns HIGH 50 % INPUT_JITTER 60 ps;
TIMEGRP "clk" OFFSET = IN 6 ns VALID 6 ns BEFORE "clk" RISING;
OFFSET = OUT 38 ns AFTER "clk";
INST "sf_d[0]" TNM = "display_grp";
INST "sf_d[1]" TNM = "display_grp";
INST "sf_d[2]" TNM = "display_grp";
INST "sf_d[3]" TNM = "display_grp";
INST "sf_d[4]" TNM = "display_grp";
INST "sf_d[5]" TNM = "display_grp";
INST "sf_d[6]" TNM = "display_grp";
INST "sf_d[7]" TNM = "display_grp";
TIMEGRP "display_grp" OFFSET = OUT 32 ns AFTER "clk";
NET "lap_load" LOC = T16;
NET "lcd_e" LOC = AB4;
NET "lcd_rs" LOC = Y14;
NET "lcd_rw" LOC = W13;
NET "mode" LOC = T14;
NET "reset" LOC = U15;
NET "strtstop" LOC = T15;
